/* style.css */

body {
    font-family: Arial, sans-serif;
    background: url('backgound_image.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: bisque;
}

.navbar a {
    color: #fff;
    text-decoration: none;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 5px;
    padding: 20px;
}

.jumbotron {
    background-color: rgba(233, 236, 239, 0.8);
    padding: 2em;
    border-radius: 5px;
}

.jTextarea {
    width: 100%;
    min-height: 200px;
    resize: none;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 5px;
}

.btn {
    background-color: red;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.btn:hover {
    background-color: red;
}
.navbar-nav {
    justify-content: flex-end;
}
.btn-primary {
    background-color: red;
    border-color: red;
}
