<!DOCTYPE HTML>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='CSS/style.css') }}">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Fake News Prediction</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
  <div class='ripple-background'>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand fs-3 text-light" href="/">Fake News Detection</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link text-light" href="https://github.com/prateek2k2" target="_blank">About</a>
          </li>
        </ul>        
        </div>
      </div>
    </nav>
    <div class="container mt-5">
      <div class="jumbotron">
        <h1 class="display-4">Fake News Detection</h1>
        <p class="lead">A fake news prediction web application using Machine Learning algorithms deployed using Flask and Heroku.</p>
        <hr class="my-4">
        <p><h2>Enter your news to check</h2></p>
        <form action="/predict" method="POST">
          <div class="form-group">
            <textarea class="form-control border-1 border-dark jTextarea" id="jTextarea" rows="5" name="text"
              placeholder="Write your text here..." required>{{text}}</textarea>
            <br><br>
            <button class="btn btn-primary btn-outline btn-md" type="submit" name="predict">Predict</button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
  <script>
    function growTextarea(i, elem) {
      var elem = $(elem);
      var resizeTextarea = function (elem) {
        var scrollLeft = window.pageXOffset || (document.documentElement || document.body.parentNode || document.body).scrollLeft;
        var scrollTop = window.pageYOffset || (document.documentElement || document.body.parentNode || document.body).scrollTop;
        elem.css('height', 'auto').css('height', elem.prop('scrollHeight'));
        window.scrollTo(scrollLeft, scrollTop);
      };
      elem.on('input', function () {
        resizeTextarea($(this));
      });
      resizeTextarea($(elem));
    }

    $('.jTextarea').each(growTextarea);
  </script>
</body>
</html>
